[Desktop Entry]
X-AppImage-Arch=x86_64
X-AppImage-Version=201125
X-AppImage-Name=Draftsman
Name=Draftsman
Comment=Draftsman Qt Application
Exec=usr/bin/Draftsman
Icon=shape
Terminal=false
Type=Application
Categories=Utility;Graphics;

